<ion-view view-title="BroHelp">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item" ng-repeat="task in tasks |orderBy: '-id'">
            <div ui-sref="app.tasks.detail({id: task.id})" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url({{task.bro.display_pic}});"></span>
                    <strong>{{task.bro.name}} asks </strong> {{task.task}}<br>
                    <i class="icon ion-cash"></i> Reward: {{task.reward || currency}}
                    <div class="card-footer text-right">

                        <button ui-sref="app.tasks.detail({id: task.id})" class="button button-small button-light button-assertive">
                            View More
                        </button>
                        <div class="pull-left">
                            <ul>
                                <li>
                                    <i class="icon ion-clock"></i> just now
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-assertive" ui-sref="app.tasks.new">
        <div class="title">Call for Help!</div>
    </div>
</ion-view>
