<ion-view view-title="Brommunity" align-title="center">

    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="padding">

            <h4 class="positive"><ion-icon class="ion-trophy"></ion-icon>  Leaderboard</h4>
            <p>Top 10 brothers this week!</p>
            <div class="list animate-fade-slide-in-right">
                <div class="item row">
                    <div class="col col-20 positive"><strong>Rank</strong></div>
                    <div class="col col-50 positive"><strong>Name</strong></div>
                    <div class="col col-30 positive"><strong>BroPoints</strong></div>
                </div>


                <div class="item row">
                    <div class="col col-20">1</div>
                    <div class="col col-50">Richard</div>
                    <div class="col col-30">5479</div>
                </div>
                <div class="item row">
                    <div class="col col-20">2</div>
                    <div class="col col-50">Sebastian</div>
                    <div class="col col-30">5400</div>
                </div>
                <div class="item row">
                    <div class="col col-20">3</div>
                    <div class="col col-50">Derrick</div>
                    <div class="col col-30">5022</div>
                </div>
                <div class="item row">
                    <div class="col col-20">4</div>
                    <div class="col col-50">Larry</div>
                    <div class="col col-30">4557</div>
                </div>
                <div class="item row">
                    <div class="col col-20">5</div>
                    <div class="col col-50">Zac</div>
                    <div class="col col-30">4125</div>
                </div>
                <div class="item row">
                    <div class="col col-20">6</div>
                    <div class="col col-50">Edison</div>
                    <div class="col col-30">3846</div>
                </div>
                <div class="item row">
                    <div class="col col-20">7</div>
                    <div class="col col-50">Charlie</div>
                    <div class="col col-30">3567</div>
                </div>
                <div class="item row">
                    <div class="col col-20">8</div>
                    <div class="col col-50">Jiacheng</div>
                    <div class="col col-30">3446</div>
                </div>
                <div class="item row">
                    <div class="col col-20">9</div>
                    <div class="col col-50">Samuel</div>
                    <div class="col col-30">3364</div>
                </div>
                <div class="item row">
                    <div class="col col-20">10</div>
                    <div class="col col-50">Jimmy</div>
                    <div class="col col-30">3056</div>
                </div>
            </div>

        </div>




    </ion-content>
</ion-view>
