<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>BroApp</h1>
                By bros for bros

            </div>
        </div>

        <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-positive-900 ink icon-left ion-social-facebook button-positive-900">Login with Facebook
            </button>
        </div>

    </ion-content>
</ion-view>
