<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>BroApp</h1>
                By bros for bros

            </div>
        </div>

        <div class="padding">
            <button ng-click="chooseUser=!chooseUser" class="button button-full button-positive-900 ink icon-left ion-social-facebook button-positive-900">Login with Facebook
            </button>
        </div>
        <div ng-if="chooseUser">
            <label class="item item-input" style="background-color: white;">
                <span class="input-label">New User:</span>
                <input type="text" ng-model="user.name">
            </label>
            <button class="button button-block button-positive" ng-click="login(user.name)">Login</button>
        </div>
        <div ng-if="chooseUser">
            <span style="color:white">Login as:</span>
            <button ng-click="loginAs(bro)" class="button button-block button-positive" ng-repeat="bro in bros">
                {{bro.name}}
            </button>
            <input class="reset-pass" ng-model="resetPass" type="text" placeholder=""/>
            <button ng-if="resetPass=='g1t6'" class="button button-small button-assertive" ng-click="reset()">Reset DB</button>
        </div>

    </ion-content>
</ion-view>
