<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>BroApp</h1>
                By bros for bros

            </div>
        </div>

        <div class="padding">
            <button ng-click="chooseUser=!chooseUser" class="button button-full button-positive-900 ink icon-left ion-social-facebook button-positive-900">Login with Facebook
            </button>
        </div>
        <div class="row" ng-if="chooseUser">
            <!--<h3>Login as:</h3>-->

            <button>Derrick</button>
            <button>Sebastian</button>
            <button>Joshua</button>
        </div>

    </ion-content>
</ion-view>
