<ion-view view-title="BroApp">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/login.jpg');">
            <div class="content">
                Highlights
            </div>
        </div>
        <h4 class="content padding double-padding-x">Notifications</h4>
        <div class="content padding">
            Latest notifications
        </div>

        <!-- Badge -->
        <h4 class="content padding double-padding-x">Bros Community</h4>
        <div class="row">
            <div ui-sref="#" class="col card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Bros Help</h2>
                    <img class="full-image" src="img/jj.jpg">
                </div>

            </div>
            <div ui-sref="#" class=" col card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Bros Chat</h2>
                    <img class="full-image" src="img/jj.jpg">
                </div>

            </div>

        </div>
    </ion-content>
</ion-view>
