<ion-view view-title="BroApp" align-title="centre">
    <ion-content ng-class="{expanded:$scope.isExpanded}">

        <div class="row">
            <div ui-sref="app.tasks.active" class="col card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>My Tasks</h2>
                    <p>View all tasks requested by bros</p>
                    <img src="../img/task.jpg" style="transition-delay: 0.02s;">
                </div>
            </div>
        </div>
        <div class="row">
            <div ui-sref="app.brohelp" class="col card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>BroHelp</h2>

                    <p>Get help from your fellow bros!</p>
                    <!--<img class="full-image" src="img/jj.jpg">-->
                </div>
            </div>
        </div>
        <div class="row">
            <div ui-sref="app.bros" class=" col card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>My bros</h2>

                    <p>Bros over hoes</p>
                    <!--<img class="full-image" src="img/jj.jpg">-->
                </div>
            </div>
        </div>
        <div class="row">
        <div ui-sref="app.brommunity" class=" col card card-gallery item item-text-wrap">
            <div class="ink dark-bg">
                <h2>Brommunity</h2>

                <p>Chat, share and make new bros</p>
                <!--<img class="full-image" src="img/jj.jpg">-->
            </div>
        </div>
    </div>
    </ion-content>
</ion-view>
