<ion-view view-title="Profile">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-log-out" ng-click="showLogoutConfirmation()">
        </button>
    </ion-nav-buttons>
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/login.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('{{user.display_pic}}');"></div>
                <h3><a class="light">{{user.name}}</a></h3>
                <h4>Super Bro </h4>
            </div>
        </div>
        <!-- progress bar -->
        <div class="double-padding-x">
        <h4 class="content">Progress Bar</h4>
        <div class="row">
          <progress max="{{user.nextLevel}}" value="{{user.points}}"> </progress>
        </div>
        <div class="text-right">
          <small>{{user.nextLevel - user.points}} points more to earn UltimateBro badge</small>
        </div>
      </div>


        <!-- Badge -->
        <h4 class="content padding double-padding-x">Badges</h4>
        <p class="double-padding-x">Collect more badges by helping others!</p>
        <div class="row">
          <div class="card">
            <div class="item item-divider item-text-wrap">
              Noob Bro
            </div>
            <div class="item badge">
              <img src="img/badge-militarybro.jpg"></img>
            </div>
          </div>
          <div class="card">
            <div class="item item-divider item-text-wrap">
              Super Bro
            </div>
            <div class="item">
              <img src="img/badge-sportybro.jpg"></img>
            </div>
          </div>

        </div>
    </ion-content>
</ion-view>
