<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/login.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/jj.jpg');"></div>
                <h3><a class="light">Sebastian</a></h3>
                <h4>Super Bro </h4>
            </div>
        </div>
        <!-- progress bar -->
        <h4 class="content padding double-padding-x">Progress Bar</h4>
        <div class="content padding">
            <img src="img/progressbar.png"/>
        </div>

        <!-- Badge -->
        <h4 class="content padding double-padding-x">Badges</h4>
        <div class="row">
          <div class="card">
            <div class="item item-divider">
              Noob Bro
            </div>
            <div class="item badge">
              <img src="img/badge-militarybro.jpg"></img>
            </div>
          </div>
          <div class="card">
            <div class="item item-divider">
              Super Bro
            </div>
            <div class="item">
              <img src="img/badge-sportybro.jpg"></img>
            </div>
          </div>
          <div class="card">
            <div class="item item-divider">
              Ultimate Bro
            </div>
            <div class="item badge-grey">
              <img src="img/badge-dramabro.jpg"></img>
            </div>
            <div class="item item-divider">
              523 points more

            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
