<ion-view view-title="Request for Help">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <form name="taskForm" ng-submit="taskForm.$valid && addTask(newTask)" novalidate>
            <div class="list">

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Task</span>
                    <textarea required name='taskText' ng-required="true" ng-model="newTask.task"
                              placeholder="E.g. Can someone help me buy some flowers?"></textarea>
                </label>
                <div role="alert">
                  <span class="center-block assertive" ng-show="taskForm.$submitted && taskForm.taskText.$error.required">
                   Please enter the task</span>
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Reward</span>
                    <input name="reward" required ng-required="true" ng-model="newTask.reward" type="number"
                           placeholder="E.g. $20.00">
                </label>
                <div role="alert">
                  <span class="center-block assertive" ng-show="taskForm.$submitted && taskForm.reward.$error.required">
                   Please enter the reward amount</span>
                </div>
                <label class="item item-input item-stack-label">
                    <span class="input-label">Due time</span>
                    <input type="datetime-local" id="exampleInput" name="duetime" ng-model="newTask.duetime"
                           placeholder="yyyy-MM-ddTHH:mm" min="currentTime" required />
                </label>
                <div role="alert">
                  <span class="center-block assertive" ng-show="taskForm.$submitted && taskForm.duetime.$error.required">
                   Please enter the request due date and time</span>
                </div>
                <div role="alert">
                  <span class="center-block assertive" ng-show="taskForm.$submitted && taskForm.duetime.$error.min">
                   Due time cannot be earlier than current time</span>
                </div>
                <ion-toggle ng-model="newTask.hasPurchase" toggle-class="toggle-calm">Require Purchase?</ion-toggle>
                <div ng-show="newTask.hasPurchase">
                    <div class="row">
                        <div class="col">
                            <label class="item item-input">
                                <span class="input-label">Budget min</span>
                                <input name="min_amount" ng-required="newTask.hasPurchase" ng-model="newTask.budget[0]" type="number"
                                       placeholder="10">
                            </label>
                        </div>
                        <div class="col">
                            <label class="item item-input">
                                <span class="input-label">max</span>
                                <input name="max_amount" ng-required="newTask.hasPurchase" ng-model="newTask.budget[1]" type="number"
                                       placeholder="50">
                            </label>
                        </div>
                    </div>
                    <div role="alert">
                        <span class="center-block assertive"
                              ng-show="taskForm.$submitted && (taskForm.max_amount.$error.required || taskForm.min_amount.$error.required)">
                            Please key in your budget</span>
                    </div>
                </div>
            </div>
            <!-- <ion-toggle ng-model="newTask.location" toggle-class="toggle-calm">Share you location</ion-toggle> -->
            <div class="row">
                <div class="col">
                    <button class="button button-positive" type="submit">
                        Get help
                    </button>
                </div>
            </div>

        </form>
    </ion-content>
</ion-view>
