<ion-view view-title="Task details">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="ionic"></div>

        <div class="content double-padding">

            <h4 class="positive">Will you help {{task.bro.name}} out?</h4>
            {{task.bro.map}}

            <p class="text-muted">
                {{task.task}}
            </p>
            <p>
            Reward: <b>{{task.reward |currency}}</b><br>
            Budget for item: <b>{{task.budget[0] | currency}} - {{task.budget[1] | currency}}</b>
          </p>

          <h5>Location</h5>
          <img class="map" src="{{task.bro.map}}"/>


            <h5>About the requester</h5>

            <div class="item item-avatar">
                <img src="{{task.bro.display_pic}}">

                <h2>{{task.bro.name}}</h2>
                <p>{{task.bro.rank}}</p>
                <small>
                  <div class="text-muted">
                    {{task.bro.points}} points
                  </div>
                </small>
            </div>
            <br>


            <div class="row">
              <button ng-click="showConfirm()" class="button button-assertive">Help this bro</button>
            </div>


    </ion-content>
</ion-view>
