<div class="tabs-striped tabs-top tabs-background-assertive tabs-color-light">
    <div class="tabs">
      <a class="tab-item" ui-sref="app.history">
        By Me
      </a>
      <a class="tab-item active">
        By Others
      </a>
    </div>
  </div>
<ion-view view-title="History">
    <ion-content ng-class="{expanded:isExpanded}" class="has-subheader animate-fade-slide-in">

    <div class="content double-padding">
      <h4 class="assertive">Tasks Done by Others</h4>
      <p>History of tasks that other people have helped you will be shown here.</p>
    </div>
        <div class="item card-item" ng-repeat="task in tasks |orderBy: '-id'">
            <div ui-sref="app.tasks.detail({id: task.id})" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url({{task.bro.display_pic}});"></span>
                    <strong>{{task.bro.name}} asks </strong> {{task.task}}<br>
                    <div class="card-footer text-right">

                        <i class="icon ion-cash assertive"></i> {{task.reward | currency}}
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> just now
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button ui-sref="app.tasks.detail({id: task.id})" class="button button-small button-light button-assertive">
                            View More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
