<!--requester view-->
<ion-view view-title="My request" ng-if="task.bro.id == user.id">
    <div class="bar bar-subheader bar-calm">
        <h2 class="title" ng-if="!task.savior">Awaiting your true bro...
            <span>{{elasped | amDateFormat:'mm:ss'}}</span>
        </h2>
        <h2 class="title" ng-if="task.savior">{{task.savior.name}} is on his way!</h2>
    </div>
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in has-subheader">

        <ul class="progress-indicator">
            <li ng-class="{'completed': task.stage > $index}" ng-repeat="stage in stages">
                <span class="bubble"></span><span class="fa fa-minus"></span>
                {{stage}}
            </li>
        </ul>
        <button ng-if="stages[task.stage || 0]" class="button button-full button-energized" ng-click="nextStage()">
            {{stages[task.stage || 0]}}
        </button>

        <div class="card">
            <div class="item item-avatar item-divider">
                <img src="{{task.bro.display_pic}}">
                <h2>{{task.bro.name}}</h2>
                <p am-time-ago="task.date"></p>
            </div>
            <div class="item item-text-wrap">
                {{task.task}}
            </div>
        </div>

        <div class="card" ng-if="task.hasPurchase">
            <div class="item item-divider">
                Purchase
            </div>
            <div class="row">
                <div class="col">Budget:</div>
                <div class="col">{{task.budget[0] | currency}}</div>
                <div class="col">{{task.budget[1] | currency}}</div>
            </div>
            <form ng-submit="updatePrice()">
                <label class="item item-input">
                    <span class="input-label">Actual price</span>
                    <input ng-model="task.price" type="number" placeholder="10">
                </label>
                <button class="button button-full button-energized" type="submit">
                    Update price
                </button>
            </form>
        </div>
        <div class="card">
            <div class="item item-divider">
                Updates
            </div>
            <div class="item item-text-wrap">
                <ul class="list">
                    <li ng-repeat="message in task.messages track by $index">
                        {{message.user.name}} - {{message.message}}
                    </li>
                    <li ng-show="!task.messages.length">No messages</li>
                </ul>
            </div>
            <form ng-submit="addMessage(task)">
                <label class="item item-input">
                    <input ng-model="task.message" type="text" placeholder="New message">
                </label>
                <button class="button button-block button-positive" type="submit">
                    Send message
                </button>
            </form>
            <a ng-click="cancelTask()">Cancel task</a>
        </div>
    </ion-content>
</ion-view>

<!--savior view-->
<ion-view view-title="My task" ng-if="task.savior.id == user.id">
    <div class="bar bar-subheader bar-calm">
        <h2 class="title">Helping {{task.bro.name}}</h2>
    </div>
    <ion-content class="animate-fade-slide-in has-subheader">

        <ul class="progress-indicator">
            <li ng-class="{'completed': task.stage > $index}" ng-repeat="stage in stages">
                <span class="bubble"></span><span class="fa fa-minus"></span>
                {{stage}}
            </li>
        </ul>
        <button ng-if="stages[task.stage || 0]" class="button button-full button-energized" ng-click="nextStage()">
            {{stages[task.stage || 0]}}
        </button>

        <div class="card">
            <div class="item item-avatar item-divider">
                <img src="{{task.bro.display_pic}}">
                <h2>{{task.bro.name}}</h2>
                <p am-time-ago="task.date"></p>
            </div>
            <div class="item item-text-wrap">
                {{task.task}}
            </div>
        </div>

        <div class="card" ng-if="task.hasPurchase">
            <div class="item item-divider">
                Purchase
            </div>
            <div class="row">
                <div class="col">Budget:</div>
                <div class="col">{{task.budget[0] | currency}}</div>
                <div class="col">{{task.budget[1] | currency}}</div>
            </div>
            <form ng-submit="updatePrice()">
                <label class="item item-input">
                    <span class="input-label">Actual price</span>
                    <input ng-model="task.price" type="number" placeholder="10">
                </label>
                <button class="button button-full button-energized" type="submit">
                    Update price
                </button>
            </form>
        </div>
        <div class="card">
            <div class="item item-divider">
                Updates
            </div>
            <div class="item item-text-wrap">
                <ul class="list">
                    <li ng-repeat="message in task.messages track by $index">
                        {{message.user.name}} - {{message.message}}
                    </li>
                    <li ng-show="!task.messages.length">No messages</li>
                </ul>
            </div>
            <form ng-submit="addMessage(task)">
                <label class="item item-input">
                    <input ng-model="task.message" type="text" placeholder="New message">
                </label>
                <button class="button button-block button-positive" type="submit">
                    Send message
                </button>
            </form>
            <a ng-click="cancelTask()">Cancel task</a>
        </div>
    </ion-content>
</ion-view>
