<script id="completion-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-stable">
            <h1 class="title">Task completed!</h1>
        </ion-header-bar>
        <ion-content>

            <div class="padding row row-center">
                <h3>Rate your bro!</h3>

                <div class="col">
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5"/><label class="full" for="star5"
                                                                                       title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" name="rating" value="4 and a half"/><label class="half"
                                                                                                      for="star4half"
                                                                                                      title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4"/><label class="full" for="star4"
                                                                                       title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half" name="rating" value="3 and a half"/><label class="half"
                                                                                                      for="star3half"
                                                                                                      title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3"/><label class="full" for="star3"
                                                                                       title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half" name="rating" value="2 and a half"/><label class="half"
                                                                                                      for="star2half"
                                                                                                      title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2"/><label class="full" for="star2"
                                                                                       title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" name="rating" value="1 and a half"/><label class="half"
                                                                                                      for="star1half"
                                                                                                      title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1"/><label class="full" for="star1"
                                                                                       title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value="half"/><label class="half" for="starhalf"
                                                                                             title="Sucks big time - 0.5 stars"></label>
                    </fieldset>
                </div>
            </div>
            <div class="padding row">
                <div class="col">
                    <a class='warning center-block assertive' ng-click="reportUser()">Report user</a>
                </div>
            </div>
            <button class="button button-full button-balanced"
                    ng-click="completeTask()">
                Confirm completion
            </button>
            <button class="button button-full button-stable"
                    ng-click="closeModal()">
                Cancel
            </button>
        </ion-content>
    </ion-modal-view>
</script>
<script id="report-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="padding bar bar-header bar-stable">
            <h1 class="title">Report user</h1>
        </ion-header-bar>
        <ion-content>
            <form name="reportForm" ng-submit="submitReport(report)">

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Situation</span>
                    <textarea required name='problemTest' ng-required="true" ng-model="report.problem"
                              placeholder="Explain the situation"></textarea>
                </label>

                <button class="button button-full button-assertive"
                        type="submit">
                    Submit Report
                </button>
            </form>
            <button class="button button-full button-stable"
                    ng-click="closeReportModal()">
                Cancel
            </button>
        </ion-content>
    </ion-modal-view>
</script>
<ion-view view-title="{{task.bro.id == user.id ? 'Current request': 'Current Task'}}">
    <!-- <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-more" ng-click="openPopover()">
        </button>
    </ion-nav-buttons> -->
    <!--requester view-->
    <div ng-if="task.bro.id == user.id">
        <div class="bar bar-subheader"
             ng-class="{'bar-balanced': task.status == 'completed',
                        'bar-calm': !!task.savior,
                        'bar-energized' : !task.savior,
                        'bar-dark' : task.status == 'In review'
                        }">
            <h2 class="title" ng-if="task.status === 'In review'">Task in review</h2>

            <h2 class="title" ng-if="!task.savior && task.status !== 'completed'">Awaiting your true bro...
                <span>{{elasped | amDateFormat:'mm:ss'}}</span>
            </h2>

            <h2 class="title" ng-if="task.status === 'completed'">Task completed! + 50 bro points</h2>

            <h2 class="title" ng-if="task.savior && task.status === 'active'">{{task.savior.name}} is on his
                way!</h2>
        </div>
        <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in has-subheader">
            <ul class="progress-indicator progress-top">
                <li class="progress-step" ng-class="{'completed': task.stage > $index}" ng-repeat="stage in stages">
                    <span class="bubble"></span><span class="fa fa-minus"></span>
                    {{stage}}
                </li>
            </ul>
            <button ng-if="task.stage == stages.length && task.status =='active' && !task.bro.confirmed"
                    class="button button-full bar-balanced"
                    ng-click="openModal()">
                Confirm completion
            </button>
            <button ng-if="task.stage == stages.length && task.status ==='active' && !task.savior.confirmed && task.bro.confirmed"
                    class="button button-clear button-full">
                <i class="icon ion-loading-c"></i> Awaiting other party to confirm...
            </button>

            <button ng-if="task.stage == stages.length && task.status=='completed'" class="button button-full bar-dark"
                    ng-click="dismissTask()">
                Close
            </button>
            <div class="card" ng-if="task.status === 'In review'">
                <div class="item item-divider">
                    <div class="bar bar-stable" ng-if="task.status === 'In review'">
                        <div class="center-block">Task in review
                        </div>
                    </div>
                </div>
                <div class="item item-text-wrap">
                    <span>
                        Thank you for your feedback. We will review the case and get back to you soon.
                    </span>
                </div>
                <div class="item item-text-wrap">
                    <button class="button button-full button-dark"
                            ng-click="dismissTask()">
                        Close
                    </button>
                </div>
            </div>

            <div class="card">

                <div class="item item-avatar item-divider">
                    <img src="{{task.bro.display_pic}}">

                    <h2>{{task.bro.name}}</h2>

                    <p am-time-ago="task.date"></p>
                </div>

                <div class="item item-text-wrap">
                    {{task.task}}
                </div>
            </div>
            <div class="card">
                <div class="item item-divider">
                    Chat
                </div>
                <div class="item item-text-wrap">
                    <ul class="list discussion">
                        <li ng-repeat="message in task.messages track by $index">{{message.user.name}} -
                            {{message.message}}
                        </li>
                        <!--<li class="chat" ng-class="{'me': message.user.id==user.id, 'you': message.user.id!==user.id}"-->
                        <!--ng-repeat="message in task.messages track by $index">-->
                        <!--<img class='avatar' src="{{message.user.display_pic}}"/>-->
                        <!--<span class="chat-text">{{message.message}} </span>-->
                        <!--</li>-->
                        <li ng-show="!task.messages.length">No messages</li>
                    </ul>
                </div>
                <form ng-submit="addMessage(chat.message)">
                    <label class="item item-input">
                        <input ng-model="chat.message" type="text" placeholder="New message">
                    </label>
                    <button class="button button-block button-positive" type="submit">
                        Send message
                    </button>
                </form>
            </div>

            <div class="card" ng-if="task.hasPurchase">
                <div class="item item-divider">
                    <div class="bar bar-stable">
                        <div class="center-block">
                            Purchase <span ng-if="task.price_approval != undefined">- {{approval_status[task.price_approval+1]}}</span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col">Budget:</div>
                    <div class="col">{{task.budget[0] | currency}}</div>
                    <div class="col">{{task.budget[1] | currency}}</div>
                </div>
                <div class="row" ng-if="task.price_approval == 0">
                    <div class="col">
                        Actual price: {{task.price|currency}}
                        <div class="button-bar">
                            <a class="button button-balanced" ng-click="approvePrice()">Accept</a>
                            <a class="button button-assertive" ng-click="rejectPrice()">Reject</a>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="task.price_approval == 1">
                    <div class="col">
                        Approved price: {{task.price|currency}}
                    </div>
                </div>
                
            </div>
            <div class="row" style="padding-bottom:50px;">
                <div class="button-bar">
                    <a class="button button-assertive" ng-click="cancelTask()">Cancel Task</a>
                </div>
            </div>

        </ion-content>
    </div>
    <!--savior view-->
    <div ng-if="task.savior.id == user.id">
        <div class="bar bar-subheader"
             ng-class="{'bar-balanced': task.status == 'completed',
                        'bar-calm': !!task.savior,
                        'bar-dark' : task.status == 'In review'
                        }">
            <h2 class="title" ng-if="task.status === 'In review'">Task in review</h2>

            <h2 class="title" ng-if="task.status === 'active'">Helping {{task.bro.name}}</h2>

            <h2 class="title" ng-if="task.status == 'completed'">Task completed! + 50 bro points</h2>
        </div>
        <ion-content class="animate-fade-slide-in has-subheader">

            <ul class="progress-indicator progress-top">
                <li class="progress-step" ng-class="{'completed': task.stage > $index}" ng-repeat="stage in stages"
                    ng-click="setStage($index)">
                    <span class="bubble"></span><span class="fa fa-minus"></span>
                    {{stage}}
                </li>
            </ul>
            <div class="row" ng-if="!task.stage">
                <div class="col center-block balanced">
                    Click the steps above to update progress
                </div>
            </div>

            <button ng-if="task.stage == stages.length && task.status ==='active' && !task.savior.confirmed"
                    class="button button-full bar-balanced"
                    ng-click="openModal()">
                Confirm completion
            </button>
            <button ng-if="task.stage == stages.length && task.status ==='active' && !task.bro.confirmed && task.savior.confirmed"
                    class="button button-clear button-full">
                <i class="icon ion-loading-c"></i> Awaiting other party to confirm...
            </button>
            <button ng-if="task.stage == stages.length && task.status=='completed'" class="button button-full bar-dark"
                    ng-click="dismissTask()">
                Close
            </button>
            <div class="card" ng-if="task.status === 'In review'">
                <div class="item item-divider">
                    <div class="bar bar-stable" ng-if="task.status === 'In review'">
                        <div class="center-block">Task in review
                        </div>
                    </div>
                </div>
                <div class="item item-text-wrap">
                    <p>
                        Thank you for your feedback. It seems that there is a misunderstanding between two of you. We will review the case and get back to you soon.
                    </p>
                </div>
                <div class="item item-text-wrap">
                    <button class="button button-full button-dark"
                            ng-click="dismissTask()">
                        Close
                    </button>
                </div>
            </div>

            <div class="card">
                <div class="item item-avatar item-divider">
                    <img src="{{task.bro.display_pic}}">

                    <h2>{{task.bro.name}}</h2>
                    <span>{{task.distance}} km away</span>
                    <span am-time-ago="task.date"></span>
                </div>
                <div class="item item-text-wrap">
                    {{task.task}}
                </div>
                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col">Reward: {{task.reward | currency}}</div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="item item-divider">
                    Chat
                </div>
                <div class="item item-text-wrap">
                    <ul class="list">
                        <li ng-repeat="message in task.messages track by $index">
                            {{message.user.name}} - {{message.message}}
                        </li>
                        <li ng-show="!task.messages.length">No messages</li>
                    </ul>
                </div>
                <form ng-submit="addMessage(chat.message)">
                    <label class="item item-input">
                        <input ng-model="chat.message" type="text" placeholder="New message">
                    </label>
                    <button class="button button-block button-positive" type="submit">
                        Send message
                    </button>
                </form>
            </div>
            <div class="card" ng-if="task.hasPurchase">
                <div class="item item-divider">
                    <div class="bar" ng-class="{'bar-balanced': task.price_approval == 1}">
                        <div class="center-block">
                            Purchase <span ng-if="task.price_approval != undefined">- {{approval_status[task.price_approval+1]}}</span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col">Budget:</div>
                    <div class="col">{{task.budget[0] | currency}}</div>
                    <div class="col">{{task.budget[1] | currency}}</div>
                </div>

                <form novalidate ng-submit="updatePrice(task.price)">
                    <div class="row">
                        <div class="col"><label class="item item-input" style="margin-left:-10px;">
                            <span class="input-label">Actual price</span>
                            <input min="0" ng-model="task.price" type="number" placeholder="10">

                        </label></div>
                        <div class="col">
                            <button class="button button-small button-energized" style="margin-right:5px;"
                                    type="submit">
                                Update price
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row" ng-if="task.price_approval == 1">
                    <div class="col">
                    Approved price: {{task.price|currency}}
                    </div>
                </div>
            </div>

            <div class="row" style="padding-bottom:50px;">
                <div class="button-bar">
                    <a class="button button-assertive" ng-click="cancelTask()">Cancel Task</a>
                </div>
            </div>
            <!--<div class="card" ng-if="task.hasPurchase">-->
                <!--<div class="item item-divider">-->
                    <!--Purchase-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col">Budget:</div>-->
                    <!--<div class="col">{{task.budget[0] | currency}}</div>-->
                    <!--<div class="col">{{task.budget[1] | currency}}</div>-->
                <!--</div>-->
                <!--<form ng-submit="updatePrice()">-->
                    <!--<label class="item item-input">-->
                        <!--<span class="input-label">Actual price</span>-->
                        <!--<input ng-model="task.price" type="number" placeholder="10">-->
                    <!--</label>-->
                    <!--<button class="button button-full button-energized" type="submit">-->
                        <!--Update price-->
                    <!--</button>-->
                <!--</form>-->
            <!--</div>-->
        </ion-content>
    </div>
</ion-view>