<ion-view view-title="Browse requests" ng-if="!activeTask.task">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div ng-if="tasks.length == 0">
            No open requests
        </div>
        <div class="item card-item" ng-repeat="task in tasks | orderBy: '-date'">
            <div ng-if="task.bro.id != user.id" ui-sref="app.tasks.detail({id: task.$id})" class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap">
                  <div class="row">
                      <div class="col">
                        <h2>{{task.task}}</h2>
                    </div>
                  </div>
                    <div class="row">
                      <div class="col">
                        <i class="icon ion-clock"></i> <span am-time-ago="task.date"></span>
                      </div>

                      <div class="col text-right">
                        <i class="icon ion-ios-location assertive"></i> {{task.reward}} km away<br>
                        <i class="icon ion-cash assertive"></i> {{task.reward | currency}}
                      </div>
                    </div>


                    <div class="card-footer text-left">
                      <div class="row">
                        <div class="col col-10 ">
                          <span class="avatar history-displayPic" style="background-image: url({{task.bro.display_pic}});"></span>
                        </div>
                        <div class="col col-30">
                          <strong>{{task.bro.name}}</strong>
                        </div>
                        <div class="col text-right">
                          <button ui-sref="app.tasks.detail({id: task.$id})" style="padding: 5px;" class="button-flat button-small button-assertive">
                              View More
                          </button>
                        </div>
                      </div>
                    </div>
                    </div>
                </div>
              </div>
    </ion-content>
    <div class="bar bar-footer bar-assertive has-tabs" ui-sref="app.tasks.new">
        <div class="title">Call for Help!</div>
    </div>
</ion-view>
<ion-view ng-if="activeTask.task">
    <ion-content>
        <div class="card stable-bg ink ink-dark" ui-sref="app.tasks.active">
            <div class="item item-text-wrap">
                <strong>Task: {{activeTask.task.task}}</strong> <br>
                Date: {{activeTask.task.date | date:'medium'}} <br>
                Reward: {{activeTask.task.reward | currency}}
                <!-- Completed by member details  -->
                <div class="card-footer">
                    <div class="row">
                        <!-- Display Pic  -->
                        <div class="col col-25"><span class="avatar" style="background-image: url({{activeTask.task.bro.display_pic}});"></span></div>
                        <div class="col" ng-if="activeTask.task.savior">
                            <!-- Bro details -->
                            <strong>Savior Details:</strong><br>
                            {{activeTask.task.savior.name}}<br>
                            {{activeTask.task.savior.rank}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>