
<ion-view view-title="My Tasks">
    <ion-nav-view></ion-nav-view>
        <ion-content padding="true"">
            <!-- Title -->
            <div class="row content">
                <h4 class="assertive">Active</h4>
            </div>

            <div class="row">

                <div ng-if="activeTask.task.bro.id != user.id && activeTask.task.savior.id != user.id">
                    <!--Not Active-->
                    You do not have any active tasks at the moment.
                </div>
                <div class="item card-item" ng-if="activeTask.task.bro.id == user.id" ng-click="gotoActive()">
                    <!--User is requester-->
                    <div class="card stable-bg ink ink-dark">
                        <div class="item item-text-wrap">
                            <strong>Task: {{activeTask.task.task}}</strong> <br>
                            Date: {{activeTask.task.date | date:'medium'}} <br>
                            Reward: {{activeTask.task.reward | currency}}
                            <!-- Completed by member details  -->
                            <div class="card-footer">
                                <div class="row">
                                    <!-- Display Pic  -->
                                    <div class="col col-25"><span class="avatar" style="background-image: url({{activeTask.task.bro.display_pic}});"></span></div>
                                    <div class="col">
                                        <!-- Bro details -->
                                        <strong>Savior Details:</strong><br>
                                        {{activeTask.task.savior.name}}<br>
                                        {{activeTask.task.savior.rank}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item card-item" ng-if="activeTask.task.savior.id == user.id" ng-click="gotoActive()">
                    <!--User is savior-->
                    <div class="card stable-bg ink ink-dark">
                        <div class="item item-text-wrap">
                            <strong>Task: {{activeTask.task.task}}</strong> <br>
                            Date: {{activeTask.task.date | date:'medium'}} <br>
                            Reward: {{activeTask.task.reward | currency}}
                            <!-- Completed by member details  -->
                            <div class="card-footer">
                                <div class="row">
                                    <!-- Display Pic  -->
                                    <div class="col col-25"><span class="avatar" style="background-image: url({{activeTask.task.bro.display_pic}});"></span></div>
                                    <div class="col">
                                        <!-- Bro details -->
                                        <strong>Requested by:</strong><br>
                                        {{activeTask.task.bro.name}}<br>
                                        {{activeTask.task.bro.rank}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

    <!-- Completed Tasks' Section -->

            <div class="row content">
                <h4 class="assertive">Completed</h4>


            </div>
    <div class="row">
        <div ng-if="history.bro.id != user.id && history.savior.id != user.id">
            <!--Not Active-->
            You have no task completed yet. Start by helping a bro today!
        </div>
    </div>


            <div class="item card-item" ng-if="history.bro.id == user.id || history.savior.id == user.id" ng-repeat="history in histories |orderBy: '-history.date'">
                <div class="card stable-bg ink ink-dark">
                    <div class="item item-text-wrap">
                        <strong>Task: {{history.task}}</strong> <br>
                        Date: {{history.date | date:'medium'}} <br>
                        Paid: {{history.reward | currency}}
                        <!-- Completed by member details  -->
                        <div class="card-footer">
                            <div class="row">
                                <!-- Display Pic  -->
                                <div class="col col-25"><span class="avatar" style="background-image: url({{history.bro.display_pic}});"></span></div>
                                <div class="col">
                                    <!-- Bro details -->
                                    <strong>Requested by:</strong><br>
                                    {{history.bro.name}}<br>
                                    {{history.bro.rank}}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
</ion-view>
